*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  html,body{
    height: 100%;
    width: 100%;
  }

  #main{
    height: 100%;
    width: 100%;
  }
  #nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 35px;
    font-size: 16px;
  }

  #nav h3{
    background-color: black;
    color: white;
    padding: 10px 25px;
    border-radius: 55px;
    margin-left: 4px;
  }

  #intro{
    height: 45%;
    width: 100%;
    padding: 15px 7px;
  }
  
  #intro h1{
    font-size: 100px;
    font-weight: 550;
    letter-spacing: -2.5px;
    line-height: 97px;
    padding: 30px;
  }

  #place {
    margin: 23px;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 14px;
    font-size: 20px;
  }

  #scroll{
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
  }

  #hero{
    height: 90%;
    width: 100%;
    /* background-color: orange; */
    background-image: url(https://i.pinimg.com/564x/e1/95/9f/e1959fc113595b84a19294d418b9f63b.jpg);
    background-size: cover;
  }

  #about{
    height: 48%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 110px 60px;
  }

  #about h2{
    width: 67%;
    font-size: 65px;
    line-height: 63px;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 75px;
  }

  #aboutpart2{
    height: 195%;
    width: 32%;
    font-size: 27px;
    font-weight: 600;
    border-left: 2px solid;
    padding: 0 45px;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
  }
  
  #icons{
    font-size: 26px;
    font-weight: 400;
  }

  #icons i{
    background-color: black;
    color: white;
    padding: 7px;
    border-radius: 50px;
    margin-right: 2px;
  }

  #work{
    height:65%;
    width: 100%;
    /* background-color: red; */
    padding: 40px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    display: flex;
  }

  #work1{
    width: 40%;
    height: 80%;
    display: flex;
    /* padding: 20px 45px; */
    margin-right: 60px;
    margin: 23px;
    justify-content: space-between;
    padding: 4px 16px;
    font-size: 23px;
    border-right: 2px solid;
  }

  #work2{
    height: 100%;
    width: 100%;
  }
  #work i{
    font-size: 38px;
  }
  
  #work2{
    /* background-color: red; */
    padding: 20px 50px;
  }

  .workpart2{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }

  .workpart2:nth-child(1){
    border-bottom: 2px solid black;
    /* padding-top: 5px; */
  }

  .workpart2 .elem{
    width: 50%;
    height: 100% ;
  }

  .workpart2 .elem:nth-child(1){
    border-right: 2px solid black;
    /* background-color: blue; */
    padding-right: 15px;
  }

  .workpart2 .elem:nth-child(2){
    padding-left: 27px;
  }

  .workpart2 .elem h4{
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .workpart2 .elem p{
    font-size: 17px;
    font-weight: 500;

  }